<div>
  <button mat-raised-button (click)="addDataClick()" class="demo-button" >
    <a>Add student</a>

  </button>
  <button mat-raised-button (click)="editStudentClick()" class="demo-button">
    Edit student
  </button>
  <button
    mat-raised-button
    (click)="onRemoveBtnClick()"
    class="demo-button">
    Remove student
  </button>

</div>

<div>
  <div *ngIf="addStudentView">
    <app-add-student (newStudentEvent)="onAddBtnClick($event)"></app-add-student>
  </div>
<!--  [oldStudent]="studentForEdit" (editedStudentEvent)="onEditBtnClick($event)" -->
  <div *ngIf="editStudentView">
    <app-edit-student></app-edit-student>
  </div>
</div>
