<h1 style="color: #d4d4d4;">Edit</h1>

<!--<mat-form-field class="example-form-field" appearance="fill">-->
<!--  <mat-label>Clearable input</mat-label>-->
<!--  <input matInput type="text" [(ngModel)]="value">-->
<!--  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--    <mat-icon>close</mat-icon>-->
<!--  </button>-->
<!--</mat-form-field>-->


<!--<div style="color: #d4d4d4;">-->
<!--  <p>Name</p>-->
<!--  <input type="text">-->
<!--  <p>Subject</p>-->
<!--  <input type="text">-->
<!--  <p>Mark</p>-->
<!--  <input type="text">-->
<!--  <p>Date</p>-->
<!--  <input type="date">-->
<!--</div>-->
<!--<button style="margin: 10px; width: 100px; height: 40px" >Save</button>-->


<div>
  <form [formGroup]="form">
    <!--  <mat-form-field hintLabel="Max 100 characters" appearance="fill">-->
    <!--    <mat-label>Name</mat-label>-->
    <!--    <input matInput formControlName="name" placeholder="Enter student name...">-->
    <!--  </mat-form-field>-->

    <input matInput formControlName="name" placeholder="Enter student name..." >

    <!--  <mat-form-field hintLabel="Max 100 characters" appearance="fill">-->
    <!--    <mat-label>Subject</mat-label>-->
    <!--    <input matInput formControlName="subject" placeholder="Enter subject...">-->
    <!--  </mat-form-field>-->

    <input matInput formControlName="subject" placeholder="Enter subject...">

    <!--  <mat-form-field hintLabel="Max 100" appearance="fill">-->
    <!--    <mat-label>Mark</mat-label>-->
    <!--    <input matInput formControlName="mark" placeholder="Enter mark...">-->
    <!--  </mat-form-field>-->

    <input matInput formControlName="mark" placeholder="Enter mark...">

    <!--  <mat-form-field hintLabel="Max 100" appearance="fill">-->
    <!--    <mat-label>Mark</mat-label>-->
    <!--    <input matInput formControlName="date" type="date">-->
    <!--  </mat-form-field>-->

    <input matInput formControlName="date" type="date">

    <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="btnClickSaveEvent()">Save</button>
  </form>
</div>

<div *ngIf="saveSuccessful">
  <h1>Successful</h1>
</div>
