<div>
  <div>
    <button style="margin: 15px;" (click)="btnAdminLoggedIn()">sing in admin</button>

    <button style="margin: 15px;" (click)="btnUserLoggedIn()">sing in user</button>
  </div>
<!--  <app-student-component></app-student-component>-->

  <div style="margin: 15px">
    <button  mat-raised-button class="demo-button">
      <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </button>

    <button  mat-raised-button class="demo-button" style="margin-left: 15px">
      <a routerLink="/student" routerLinkActive="active-link">Student</a>
    </button>

    <button  mat-raised-button class="demo-button" style="margin-left: 15px">
      <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
    </button>

<!--    <button style="margin-left: 15px" mat-raised-button class="demo-button">-->
<!--      <a routerLink="/add">Add student</a>-->
<!--    </button>-->
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>



